html, body{
  margin: 0 2px;
  padding: 0 1px;
  background: #333;
  color: #eee;
  font-family: regular;
}
div{
  margin: 2px 0;
  border-radius: 4px;
}
div.head{
  background: #3b6978;
}
a{
  padding: 0 2px;
  color: #ddd;
  text-decoration: none;
}
a.logo{
  margin: 0 2px;
  color: orange;
  text-decoration: none;
  display: inline;
}
a.right{
  float: right;
  font-size: 0.9em;
  margin: 2px 4px;
  padding: 0;
}
