{% extends "base.html" %}
{% block title %}首页{% end %}
{% block content %}
<b>全部文章</b>
<div class="content">
    {% for a in article %}
        <div class="list">
            <a href="/article/{{ a[0] }}">{{ a[1] }}</a>{% if user=="dujiaxing" %}<a class="del" href="/del/{{ a[0] }}">删除</a>{% end %}<br>
            <span class="discrb">作者：</span><a class="discrb" href="/home/{{ a[4] }}">{{ a[4] }}</a></td>
            <span class="discrb">分类：</span><a class="discrb" href="/list/{{ a[2] }}">{{ a[2] }}</a></td>
            <span class="discrb">时间：{{ a[7] }}</span>
        </div>
    {% end %}
</div>
<div class="bottom">
    <hr>
    <a class="discrb" href="http://beian.miit.gov.cn/">蒙ICP备20000629号-1</a>
</div>
{% end %}